.bike-image {
width: 100px;
padding-top: 20px;
}

.title {
font-family: degular-display;
font-size: 40px;
font-weight: bold;
color: orange;
text-align: center;
}

h2 {
font-size: 15px;
}



.para {
font-size: 25px;
font-family: degular-display;
padding-top: 20px;
padding-bottom: 20px;
}

.socials {
font-size: 17px;
font-family: degular-display;
text-align: center;
}

.quote {
font-size: 20px;
padding: 10px;
}